// Shared with web client and login screen
.o_home_menu_background {
    background: url(/backend_theme/static/src/img/home-menu-bg-overlay.svg),
        linear-gradient(10.35deg, #115C5C 4.97%, #0E8A8A 143.34%);
    background-size: cover;
    overflow-x:hidden;
}